<div class="page-header">
    <div class="page-header-back-button"><a href="/de"><i class="bi bi-arrow-left-circle-fill"></i></a></div>
    <div class="page-header-title"><h1>{{ pageTitle }}</h1></div>
</div>