/* Sections */
.section {
    padding: var(--spacing-normal) 0;
    margin: var(--spacing-normal) 0;
    margin-bottom: var(--spacing-large) !important;
}
.section h2 {
    border-bottom: 1px solid var(--color-border);
}
.section-alt {
    background: var(--color-background-alt);
    border: 1px solid var(--color-border);
    border-radius: 4px;
    padding: var(--spacing-normal) !important;
}
.section-alt h2 {
    margin: var(--spacing-small) 0;
}

/* Links */
.link-block {
    display: block;
    width: fit-content;
}
.link-no-text-decoration {
    text-decoration: none;
}

/* Page Header */
.page-header {
    display: flex;
    justify-content: space-around;
    align-items:baseline;
}
.page-header-back-button {
    width: fit-content;
}
.page-header-back-button a {
    font-size: xx-large;
}
.page-header-title {
    margin-left: var(--spacing-normal);
    width: 100%;
}

/* Banner */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-title {
    margin-bottom: var(--spacing-small);
    line-height: 1.1;
}
.banner-description {
    margin-top: 0;
    margin-bottom: var(--spacing-normal);
}
.banner-image {
    margin: var(--spacing-large) 0;
    max-width: 250px;
}
.banner-social-icon-wrapper {
    padding-bottom: var(--spacing-normal);
}
.banner-social-icon {
    font-size: x-large;
    margin-right: var(--spacing-small);
}

/* Timeline */
.timeline {
    border-left: 2px var(--color-highlight) solid;
    padding-left: var(--spacing-normal);
}
.timeline-item {
    padding: var(--spacing-normal) 0;
}
.timeline-item-info {
    font-size: small;
    margin: 0;
}
.timeline-item-category {
    padding: 2px 8px;
    border: 1px solid var(--color-border);
    border-radius: var(--spacing-normal);
    margin-left: var(--spacing-small);
    background-color: var(--color-background-alt)
}
.timeline-item-title {
    margin: 0;
    padding: 0;
}