:root {
    --color-background: #18181b;
    --color-background-alt: #222224;
    --color-border: #2d2d2f;
    --color-title: #FFFFFF;
    --color-text: #DDDDDD;
    --color-highlight: #FFFFFF;
    --radius-corner: 4px;
    --spacing-normal: 20px;
    --spacing-small: 10px;
    --spacing-large: 40px;
    --spacing-x-large: 80px;
}

* {
    text-size-adjust: none;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body {
    background-color: var(--color-background);
}

main, footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--spacing-normal);
}

footer {
    margin-bottom: var(--spacing-large);
    padding-bottom: var(--spacing-large);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'IBM Plex Mono';
    color: var(--color-title);
}

h1, h2, h3 {
    margin: var(--spacing-normal) 0;
}

p, h4, h5, h6 {
    margin: var(--spacing-small) 0;
}

p, li, span {
    font-family: 'Inter';
    color: var(--color-text);
}

strong, b {
    color: var(--color-highlight);
}

a {
    font-family: 'Inter';
    color: var(--color-highlight);
}

li {
    margin-left: var(--spacing-normal);
}

a:hover {
    color: var(--color-text);
    text-decoration: none;
}